<h1> <%= @user.title %> </h1>
<p>
  <%= @user.entry %>
</p>

<form action="/diary" method="get">
  <button type="submit" name="Back">Back</button>
</form>

<form action="/diary/<%=@user.id%>/delete" method="post">
  <input type='hidden' name='_method' value='DELETE'/>
  <button type="submit" name="Delete">Delete</button>
</form>
