<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Welcom to diary</title>
  </head>
  <body>
    <h1>Welcome to your diary</h1>

    <form  action="/diary" method="post">
      <input type="text" name="title" placeholder="Title" required>
      <input type="text" name="entry" placeholder="Diary Entry" required>
      <input type="submit" name="Save Entry">
    </form>

    <ul>
    <% @diary.each do |diary| %>
      <li class="diary" id="diary-<%= diary.id %>">
        <form  action="/diary/<%= diary.id %>" method="get">
          <button type="submit" name="<%= diary.title %>">Title: <%= diary.title %></button>
        </form>
      </li>
    <% end %>
    </ul>
  </body>
</html>
